name: test
on: push
jobs:
  test:
    runs-on: ubuntu-22.04
    container: ryuichiueda/ubuntu22.04-ros2:latest
    steps:
      - uses: actions/checkout@v2
      - name: build and test
        run: |
          mkdir -p /root/ros2_ws/src
          rsync -av ./ /root/ros2_ws/src/ros2_netspeed/ 
          cd /root/ros2_ws
          source /opt/ros/humble/setup.bash
          source /usr/share/colcon_argcomplete/hook/colcon-argcomplete.bash
          bash -xv ./src/ros2_netspeed/test/test.bash /root
